*{
    padding: 0;
    margin:0;
}

.navbar
{
    padding: 22px 50px 22px 50px;
    background-color: #34495e !important;
}

.navbar ul li a
{
    font-size: 13px;
    font-weight: 600;
    color: white !important;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.5s ease-in;
}

.navbar ul li a:hover
{
    color:deepskyblue !important;
}

.navbar-toggler
{
    border: 1px solid white !important;
    transition: all 0.5s ease-in;
}

.navbar-toggler:hover
{
    background-color: deepskyblue !important;
}